{% extends "common/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Events" %}{% endblock %}

{% block content %}

    {% if widget_event and widget_event.pretix_ticket_shop_link and widget_event.pretix_ticket_shop_base_url %}
      <script type="text/javascript" src="{{ widget_event.pretix_ticket_shop_base_url }}/widget/v1.en.js" async crossorigin></script>
      <link rel="stylesheet" type="text/css" href="{{ widget_event.pretix_ticket_shop_link }}/widget/v1.css" crossorigin>
      <script src="{% static "common/js/pretix_widget.js" %}"></script>
    {% endif %}

    {% if registered_events or current_events or future_events or past_events %}
        <h1>{% translate "Events" %}</h1>
    {% endif %}

    <h2>{% translate "Registered events" %}</h2>
    {% if registered_events %}
    <ul class="pl-0">
      {% for event in registered_events %}
        <li class="d-flex flex-row align-items-center">
          <a href="{{ event.event.event_website_link | default:event.event.urls.base }}">
            {{ event.event.name }}
            ({{ event.event.get_date_range_display }})
          </a>
          <div class="ml-auto d-flex flex-column flex-md-row">
            <a
              class="btn btn-outline-info m-1"
              href="{{ event.event.urls.base }}"
            >
              {% translate 'Overview' %}
            </a>
            {% if event.event.current_schedule and event.event.feature_flags.show_schedule %}
            <a
              class="btn btn-outline-info m-1"
              href="{{ event.event.urls.schedule }}"
              data-toggle="tooltip"
              data-placement="top"
              title="{% translate 'View conference schedule' %}"
            >
              <i class="fa fa-calendar"></i>
              {% translate 'Program' %}
            </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
    {% elif request.user.is_anonymous %}
    <ul class="pl-0">
      <li class="d-flex flex-row align-items-center">
        <i class="fa fa-sign-in mr-2"></i>
        <a href="/">{% translate "Please login or register to see your registered events." %}</a>
      </li>
    </ul>
    {% else %}
      <p>{% translate "You are currently not registered for any events." %}</p>
    {% endif %}

    <h2>{% translate "Other events" %}</h2>

    {% if current_events %}
        <h3>{% translate "Current events" %}</h3>
        <ul class="pl-0">
            {% for event in current_events %}
                <li class="d-flex flex-row align-items-center">
                  <a href="{{ event.event.event_website_link | default:event.event.urls.base }}">
                    {{ event.event.name }}
                    ({{ event.event.get_date_range_display }})
                  </a>
                  <div class="ml-auto d-flex flex-column flex-md-row">
                    <a
                      class="btn btn-outline-info m-1"
                      href="{{ event.event.urls.base }}"
                    >
                      {% translate 'Overview' %}
                    </a>
                    {% if event.current_schedule and event.event.feature_flags.show_schedule %}
                    <a
                      class="btn btn-outline-info m-1"
                      href="{{ event.event.urls.schedule }}"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="{% translate 'View conference schedule' %}"
                    >
                      <i class="fa fa-calendar"></i>
                      {% translate 'Program' %}
                    </a>
                    {% endif %}
                    {% if event.event.pretix_ticket_shop_link %}
                      <a
                        class="btn btn-outline-info m-1 btn-pretix-purchase-ticket"
                        href="{{ event.event.pretix_ticket_shop_link }}"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{% translate 'Purchase ticket' %}"
                      >
                        <i class="fa fa-ticket"></i>
                        {% translate 'Purchase ticket' %}
                      </a>
                    {% endif %}
                  </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if future_events %}
        <h3>{% translate "Upcoming events" %}</h3>
        <ul class="pl-0">
            {% for event in future_events %}
            <li class="d-flex flex-row align-items-center">
                <a href="{{ event.event.event_website_link | default:event.event.urls.base }}">
                    {{ event.event.name }}
                    ({{ event.event.get_date_range_display }})
                </a>
                <div class="ml-auto">
                  <a
                    class="btn btn-outline-info m-1"
                    href="{{ event.event.urls.base }}"
                  >
                    {% translate 'Overview' %}
                  </a>
                  <a
                    class="btn btn-outline-info m-1"
                    href="{{ event.event.urls.schedule }}"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{% translate 'View conference schedule' %}"
                  >
                    <i class="fa fa-calendar"></i>
                    {% translate 'Program' %}
                  </a>
                  {% if event.event.pretix_ticket_shop_link %}
                  <a
                    class="btn btn-outline-info m-1 btn-pretix-purchase-ticket"
                    href="{{ event.event.pretix_ticket_shop_link }}"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="{% translate 'Purchase ticket' %}"
                  >
                    <i class="fa fa-ticket"></i>
                    {% translate 'Purchase ticket' %}
                  </a>
                  {% endif %}
              </div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if past_events %}
        <h3>{% translate "Past events" %}</h3>
        <ul class="pl-0">
            {% for event in past_events %}
            <li class="d-flex flex-row align-items-center">
              <a href="{{ event.event.event_website_link | default:event.event.urls.base }}">
                  {{ event.event.name }}
                  ({{ event.event.get_date_range_display }})
              </a>
              <div class="ml-auto">
                <a
                  class="btn btn-outline-info m-1"
                  href="{{ event.event.urls.base }}"
                >
                  {% translate 'Overview' %}
                </a>
                <a
                  class="btn btn-outline-info m-1"
                  href="{{ event.event.urls.schedule }}"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="{% translate 'View conference schedule' %}"
                >
                  <i class="fa fa-calendar"></i>
                  {% translate 'Program' %}
                </a>
                <!-- no ticket shop link for past events -->
              </div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
