{% load i18n %}

<nav id="schedule-nav"{% if with_margin %} class="p-3"{% endif %}>
    <div class="navigation">
        <a href="{{ request.event.urls.schedule }}" class="btn btn-outline-success {% if "/schedule/" in request.path %} active{% endif %}">
            <i class="fa fa-calendar"></i> {{ phrases.schedule.schedule }}
        </a>
        {% if request.event.display_settings.schedule_display != "list" %}
           <a href="{{ request.event.urls.talks }}" class="btn btn-outline-success {% if "/talk/" in request.path %} active{% endif %}">
              <i class="fa fa-list"></i> {{ phrases.schedule.sessions }}
           </a>
        {% endif %}
        <!--
        <a href="{{ request.event.urls.speakers }}" class="btn btn-outline-success {% if "/speaker/" in request.path %} active{% endif %}">
            <i class="fa fa-group"></i> {{ phrases.schedule.speakers }}
        </a>
        -->
        <!--
        <a href="{{ request.event.urls.participants }}" class="btn btn-outline-success {% if "/participants/" in request.path %} active{% endif %}">
        <i class="fa fa-group"></i> Teilnahmeliste
        </a>
        -->
        <a href="{{ request.event.urls.page_public_voting }}" class="btn btn-outline-success {% if "/p/voting/public/talks" in request.path %} active{% endif %}">
          <i class="fa fa-comment-o"></i> Einreichungen
        </a>
        <a href="{{ request.event.urls.page_public_voting_wishes }}" class="btn btn-outline-success {% if "/p/voting/public/wishes" in request.path %} active{% endif %}">
          <i class="fa fa-comment-o"></i> Themenwünsche
        </a>
        <a href="{{ request.event.urls.page_sponsors }}" class="btn btn-outline-success {% if "/page/kooperation/" in request.path %} active{% endif %}">
          <i class="fa fa-group"></i> Kooperationspartner*innen
        </a>
        {% if request.event.is_venueless_world_enabled %}
        <a href="{{ request.event.urls.venueless_embedded }}" class="btn btn-outline-success {% if "/venueless/" in request.path %} active{% endif %}">
          <i class="fa fa-comments-o"></i> Live Chat (Beta)
        </a>
        {% endif %}
    </div>
    <div class="header-right">
        {% if with_extra %}
            <span>{{ phrases.schedule.version }} <a href="{{ request.event.urls.changelog }}">{{ schedule.version|default:"–" }}</a></span>
            <details class="dropdown">
                <summary class="btn btn-sm btn-outline-info">
                    <i class="fa fa-code"></i><i class="fa fa-caret-down"></i>
                </summary>
                <ul class="dropdown-content dropdown-content-s{% if rtl %}e{% else %}w{% endif %}">
                    {% for exporter in exporters %}
                        <li><a class="dropdown-item" href="{{ exporter.urls.base }}">
                            {% if exporter.icon|slice:":3" == "fa-" %}
                                <span class="fa {{ exporter.icon }} export-icon"></span>
                            {% else %}
                                <span class="export-icon">{{ exporter.icon }}</span>
                            {% endif %}
                            {{ exporter.verbose_name }}
                            {% if exporter.show_qrcode %}
                                <span class="export-qrcode">
                                    <div class="btn btn-default btn-sm">
                                        <i class="fa fa-qrcode"></i>
                                    </div>
                                    <div class="export-qrcode-image btn btn-default">{{ exporter.get_qrcode }}</div>
                                </span>
                            {% endif %}
                        </a></li>
                    {% endfor %}
                </ul>
            </details>
        {% endif %}
    </div>
</nav>
