{% extends "agenda/base.html" %}
{% load compress %}
{% load i18n %}
{% load rich_text %}
{% load static %}

{% block agenda_content %}

{% block scripts %}
  {% compress js %}
    <script src="{% static "agenda/js/v-card.js" %}"></script>
  {% endcompress %}
{% endblock %}


{% include "agenda/header_row.html" %}
<p></p>
<article>
  <h1>Teilnahmeliste</h1>
  {% if not isPretixParticipantsApiConfigured %}
    <p>Die Teilnahmeliste ist zur Zeit nicht verfügbar.</p>
  {% else %}
  <p class="pt-3">
    Folgende Teilnehmer haben sich für die Konferenz angemeldet:
  </p>
  <div class="p-3">
    {% if attendees|length > 0 %}
      {% for attendee in attendees %}
        <div
          class="participant-v-card d-flex flex-row"
          data-first_name="{{ attendee.given_name|default_if_none:''|escapejs }}"
          data-last_name="{{attendee.last_name|default_if_none:''|escapejs}}"
          data-organisation="{{attendee.organisation|default_if_none:''|escapejs}}"
          data-email="{{attendee.email|default_if_none:''|escapejs}}"
          data-postcode="{{attendee.postcode|default_if_none:''|escapejs}}"
          data-city="{{attendee.city|default_if_none:''|escapejs}}"
          data-country="{{attendee.country|default_if_none:''|escapejs}}"
        >
          <p>
            <i class="fa fa-vcard pr-2"></i>
            <strong><span class="first_name">{{attendee.given_name}}</span>&nbsp<span class="last_name">{{attendee.last_name}}</span></strong>
          </p>
          <div class="ml-auto py-2">
            <button class="participant-v-card__download-btn btn btn-outline-info"><i class="fa fa-download"></i></button>
          </div>
        </div>
      {% endfor %}
    {% else %}
    <p><strong>-</strong></p>
    {% endif %}
  {% endif %}
  </div>
</article>
{% endblock %}
