{% extends "agenda/base.html" %}
{% load compress %}
{% load i18n %}
{% load rich_text %}
{% load static %}

{% block agenda_content %}

{% block scripts %}
  {% compress js %}
  <script src="{% static "agenda/js/v-card.js" %}" async></script>
  {% endcompress %}
{% endblock %}


{% include "agenda/header_row.html" %}
<p></p>
<article>
  <h1>Teilnahmeliste</h1>
  {% if not isPretixParticipantsApiConfigured %}
    <p>Die Teilnahmeliste ist zur Zeit nicht verfügbar.</p>
  {% else %}
  <p class="pt-3">
    Folgende Teilnehmer haben sich für die Konferenz angemeldet:
  </p>
  <div class="p-3">
    {% if attendees|length > 0 %}
      {% for attendee in attendees %}
        <div class="participant-v-card d-flex flex-column flex-md-row">
          <p>
            <i class="fa fa-vcard pr-2"></i>
            <strong><span class="first_name">{{attendee.given_name}}</span>&nbsp<span class="last_name">{{attendee.last_name}}</span></strong>
          </p>
          <div class="d-flex flex-column flex-md-row flex-grow-1">
            <div class="mx-2 vcard">
              {% if attendee.organisation %}
              <div class="org">{{attendee.organisation}}</div>
              {% endif %}
              {% if attendee.email %}
              <div class="email">{{attendee.email}}</div>
              {% endif %}
              {% if attendee.postcode or attendee.city %}
              <div class="adr">
                <span>Adresse:</span>
                {% if attendee.postcode %}
                &nbsp<span class="postal-code">{{attendee.postcode}}</span>
                {% endif %}
                {% if attendee.city %}
                &nbsp<span class="city">{{attendee.city}}</span>
                {% endif %}
                {% if attendee.country %}
                &nbsp<span class="country">{{attendee.country}}</span>
                {% endif %}
              </div>
              {% endif %}
            </div>
            <div class="ml-auto py-2">
              <button class="participant-v-card__download-btn btn btn-outline-info"><i class="fa fa-download"></i></button>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
    <p><strong>-</strong></p>
    {% endif %}
  {% endif %}
  </div>
</article>
{% endblock %}
