{% extends "agenda/base.html" %}
{% load compress %}
{% load i18n %}
{% load rich_text %}
{% load static %}

{% block agenda_content %}
{% include "agenda/header_row.html" %}
<p></p>
<article>
  <h1>Teilnahmeliste</h1>
  {% if not isPretixParticipantsApiConfigured %}
    <p>Die Teilnahmeliste ist zur Zeit nicht verfügbar.</p>
  {% else %}
  <p class="pt-3">
    Folgende Teilnehmer haben sich für die Konferenz angemeldet:
  </p>
  <div class="p-3">
    {% if attendees|length > 0 %}
      {% for attendee in attendees %}
        <p><strong>{{attendee}}</strong></p>
      {% endfor %}
    {% else %}
    <p><strong>-</strong></p>
    {% endif %}
  {% endif %}
  </div>
</article>
{% endblock %}
