@import "../../common/scss/_variables";
@import "../../vendored/bootstrap/scss/bootstrap";
@import "../../vendored/forkawesome/scss/fork-awesome";

body {
  background: $brand-primary;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1000;
}

.logo {
  width: 48rem;
  height: auto;
  margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
        width: 32rem;
    }
}

.card {
  padding: 10px;
  width: 24rem;
}

.hidden {
  display: none;
}
.progress {
  height: 4px;
}
