@import "../../common/scss/_variables";
@import "../../vendored/bootstrap/scss/bootstrap";
@import "../../vendored/forkawesome/scss/fork-awesome";
@import "../../common/scss/_font";

body {
  background: white;
  a,
  a:hover {
    font-weight: bold;
    color: $brand-primary;
    text-decoration: underline;
  }
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1000;
}

.img {
  width: 15rem;
  height: auto;
  margin-bottom: 20px;
}

.card {
  padding: 10px;
  width: 20rem;
}

h1, h2, h3, h4, h5 {
    color: $brand-primary;
}
