# This is an example pretalx configuration file.
# Documentation: https://docs.pretalx.org/administrator/configure.html

[filesystem]
base = /pretalx/src
data = /pretalx/data
logs = /pretalx/data/logs
static = /pretalx/public/static
media = /pretalx/public/media

[site]
; NOVA: media was added for MEDIA_URL used in src/pretalx/common/tasks.py
media = /pretalx/public/media/
; never run debug in production. Make sure you serve all requests for the
; `/static/` and `/media/` paths when debug is False.
; See [installation](https://docs.pretalx.org/administrator/installation/#step-7-ssl) for more information
; NOVA: See also Readme for more infos
debug = False
url = https://pretalx.mydomain.com
secret = asecret
csp = *
csp_img = *
csp_style = fonts.googleapis.com

[database]
# For MySQL, replace with "mysql"
backend = mysql
name = pretalx
user = pretalx
# For MySQL, enter the user password. For PostgreSQL on the same host,
# we don't need one because we can use peer authentification if our
# PostgreSQL user matches our unix user.
password = Change this in production or you're going to have a bad time
# For MySQL, you can use a local socket, e.g. /var/run/mysqld/mysqld.sock
# For a remote host, supply an IP address
# For local postgres authentication, you can leave the host empty
host = pretalx-db
port = 3306

[mail]
from = admin@localhost
host = localhost
port = 25
user = admin
password = Change this in production or you're going to have a bad time
tls = False
ssl = True
